nav {
  position: absolute;
  right: 10vw;
  top: 1vh;
  z-index: 10;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      cursor: pointer;
      a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: var(--secondary-color);
        font-weight: 500;
        font-size: 1.2em;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: var(--tertiary-color);
          scale: 1.1;
        }
      }
    }
  }
}

.navbar-fixed {
  position: fixed;
  top: 0.5vh;
  left: 0;
  right: 0;
  z-index: 10;
  width: 30%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .navbar-fixed {
width: 85%;
  }

}
