<section>
  <h1 class="title">Services</h1>
  <ngb-carousel>
    <ng-template ngbSlide>
      <article class="card-container">
        <div class="card-c" (click)="openDetail()">
          <div class="card-image-c"></div>
          <div class="category">Work 1</div>
          <div class="heading">A heading that must span over two lines</div>
        </div>
      </article>
    </ng-template>
    <ng-template ngbSlide>
      <article class="card-container">
        <div class="card-c">
          <div class="card-image-c"></div>
          <div class="category">Work 2</div>
          <div class="heading">A lot of pipes</div>
        </div>
      </article>
    </ng-template>
    <ng-template ngbSlide>
      <article class="card-container">
          <div class="card-c">
            <div class="card-image-c-2"></div>
            <div class="category">Work 3</div>
            <div class="heading">A pipe with a lot of work</div>
          </div>
      </article>
    </ng-template>
  </ngb-carousel>

<ng-template #detailModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Detail</h4>
    <em type="button" class="btn btn-danger btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"
      ></em
    >
  </div>
  <div class="modal-body">
    lorem ipsum dolor sit amet
  </div>
</ng-template>
