<section>
  <h1 class="title">My work</h1>
  <div class="gallery">
    <div class="card">
      <div class="card-image"></div>
      <div class="category">Work 1</div>
      <div class="heading">
        A heading that must span over two lines
        <div class="author">4 days ago</div>
      </div>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category">Work 2</div>
      <div class="heading">
        A lot of pipes
        <div class="author">6 days ago</div>
      </div>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category">Work 3</div>
      <div class="heading">
        A pipe with a lot of work
        <div class="author">10 days ago</div>
      </div>
    </div>
  </div>
</section>
