<div class="footer" id="contact">
  <div class="container-fluid">
      <div class="container">
          <div class="footer-info">
            <h2>Podes contactarme por:</h2>
            <div class="footer-menu">
              <a href="mailto:jhon@doe.com.ar"><p>jhon@doe.com.ar</p></a>
            </div>
            <div class="footer-menu">
              <a href="tel:111111"><p>+54 11 9999-9999</p></a>
            </div>
            <h3>Buenos Aires, Argentina</h3>
              <div class="footer-social">
                <!--   <a href="https://github.com/attrix182" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/luciano-sinisterra/" target="_blank"><i class="fab fa-linkedin-in"></i></a> -->
              </div>
          </div>
      </div>
      <div class="container copyright">
          <p>&copy; <a href="#">Sinisterra Luciano</a>, Todos los derechos reservados | Diseñado por LS</p>
      </div>
  </div>
</div>
