<section>
  <h1 class="title">Services</h1>
  <div class="gallery">
    <div class="card-c">
      <div class="icon-container">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <div class="category">Solutions</div>
      <ul>
        <li class="heading">Clean</li>
        <li class="heading">Repair pipes</li>

        <li class="heading">Diagnose problems</li>
      </ul>
    </div>

    <div class="card-c">
      <div class="icon-container">
        <i class="fa-solid fa-screwdriver-wrench"></i>
      </div>
      <div class="category">Common Works</div>
      <ul>
        <li class="heading">Fix pipes</li>
        <li class="heading">Fix filtrations</li>
        <li class="heading">Fix pressure problems</li>
      </ul>
    </div>

    <div class="card-c">
      <div class="icon-container">
        <i class="fa-solid fa-rectangle-list"></i>
      </div>
      <div class="category">Service</div>
      <ul>
        <li class="heading">24hs</li>
        <li class="heading">+100 clients</li>
        <li class="heading">+5 year experience</li>
      </ul>
    </div>
  </div>
</section>
