/* You can add global styles to this file, and also import other style files */
:root{
  --primary-color: #dceafe;
  --secondary-color: #8d9ff4;
  --tertiary-color: #f99746;
  --quaternary-color: #ffb93f;
}


body{
  background-color: var(--secondary-color);
  background-image: url(./assets/img/background-pipes.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}



*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--secondary-color);

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
