<section>
  <div class="card">
    <h1 class="title">Contact</h1>
    <form class="p-4">
      <div>
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="Your name" />
      </div>

      <div>
        <label for="name">Email</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="Your email" />
      </div>

      <div>
        <label for="name">Message</label>
        <textarea placeholder="Type you message.." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

      </div>

      <div class="btn-container mt-3">
        <button class="btn btn-dark btn-block">Send</button>
      </div>
    </form>
  </div>
</section>
